.container{
    background-color: rgb(128, 128, 128);
    height: 60vh;
    margin-top: 50px;
    border-radius: 20px;
    overflow-y: auto;
}

.message{
    background-color: rgb(189, 189, 189);
    border-radius: 10px;
    border-style: solid;
    border-width: 2px;
    height: 50px;
    width: 40%;
    margin-top: 20px;
    padding-left: 2%;
    padding-right: 2%;
}




.right{
    float: right;
    clear: both;
}

.left{
    float: left;
    clear: both;
}


#send-container{
    margin-top: 20px;
    text-align: center;
}

input{
    width: 1050px;
    height: 50px;
    margin-top: 10px;
}

.btn-custom{
    height: 50px;
    
}
